@scope (#next-cache-tools) {
    @import "tailwindcss";
    @theme inline {
        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --color-primary: var(--primary);
        --color-primary-foreground: var(--primary-foreground);
        --color-secondary: var(--secondary);
        --color-secondary-foreground: var(--secondary-foreground);
        --color-border: var(--border);
        --color-muted: var(--muted);
        --color-muted-foreground: var(--muted-foreground);
    }
}

#next-cache-tools {
    --background:  oklch(0.141 0.005 285.823);
    --foreground:  oklch(0.985 0 0);
    --primary:  oklch(0.705 0.213 47.604);
    --primary-foreground:  oklch(0.98 0.016 73.684);
    --secondary:  oklch(0.274 0.006 286.033);
    --secondary-foreground:  oklch(0.985 0 0);
    --muted:  oklch(0.274 0.006 286.033);
    --muted-foreground:  oklch(0.705 0.015 286.067);
    --border:  oklch(1 0 0 / 10%);
}
